.filterForm {
  margin-bottom: 24px;
}

.filterFormGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.formInput {
  width: 100%;
}

.filterFormItem {
  margin-bottom: 0;
}

.button {
  margin-bottom: 0;
}

.buttonGroup {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}


