.container {
  .sectionCard {
    margin-bottom: 24px;
    border-radius: 8px;
    
    :global(.ant-card-body) {
      padding: 24px;
    }
  }

  .formFields {
    :global(.ant-row) {
      margin-bottom: 0;
      
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    
    :global(.ant-form-item) {
      margin-bottom: 0;
    }
  }

  .formInput {
    width: 100%;
  }
}

