@use "../../styles/mixins/common" as *;
@use "../../styles/common/colors" as colors;


.table {
  background-color: colors.$white;
  @include box-shadow;
  margin-top: 0;
  overflow-x: auto;
  border-radius: 12px;
  
  :global(.ant-table-wrapper) {
    overflow-x: auto;
    border-radius: 12px;
  }
  
  :global(.ant-table) {
    min-width: 100%;
    border-radius: 12px;
  }
  
  :global(.ant-table-thead > tr > th) {
    white-space: nowrap;
    
    &:first-child {
      border-top-left-radius: 12px;
    }
    
    &:last-child {
      border-top-right-radius: 12px;
    }
  }
  
  :global(.ant-table-tbody > tr:last-child > td) {
    &:first-child {
      border-bottom-left-radius: 12px;
    }
    
    &:last-child {
      border-bottom-right-radius: 12px;
    }
  }
  
  :global(.ant-table-tbody > tr > td) {
    white-space: nowrap;
  }
}

.tag:not(:first-child) {
  margin: 0 5px;
}

.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.icon {
  font-size: 18px !important;

  &Duplicate {
    color: colors.$primary;
  }
}

// Адаптивные стили
@media (max-width: 768px) {

  .table {
    :global(.ant-table-pagination) {
      flex-wrap: wrap;
      justify-content: center;
      
      :global(.ant-pagination-item),
      :global(.ant-pagination-prev),
      :global(.ant-pagination-next) {
        margin: 4px;
      }
    }
  }
}

@media (max-width: 580px) {

  .actions {
    gap: 4px;
    
    :global(.ant-btn) {
      width: 32px;
      height: 32px;
      min-width: 32px;
      padding: 0;
      
      :global(.anticon) {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 480px) {

  .table {
    margin-top: 0;
    
    :global(.ant-table-pagination) {
      :global(.ant-pagination-options) {
        display: none;
      }
    }
  }
}