.container {
  width: 100%;
}

.sectionCard {
  margin-bottom: 24px;
}

.additionallyContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.additionallyWrapper {
  width: 100%;
}

.additionallyCollapse {
  width: 100%;
}

.additionallyContent {
  padding: 16px;
}

